::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b57bff, #7a5a9e);
  border: 2px solid #0a0810;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #120e18;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7a5a9e #120e18;
}
